<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="WAM Paylands Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./vendor/</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="API_KEY" value="api-key"/>
        <env name="API_URL" value="https://api.paylands.com/v1/sandbox"/>
        <env name="API_SANDBOX" value="true"/>
        <env name="API_SIGNATURE" value="api-signature"/>
        <env name="API_PAYMENT_SERVICE" value="api-service"/>
        <env name="ENABLE_API_INTEGRATION" value="false"/>
    </php>

</phpunit>